<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module">
            const { createApp } = Vue
            let id = 0

            createApp({
                data() {
                    return {
                        message: 'Hello World!',
                        counter: {
                            count: 0,
                        },
                        titleClass: 'title',
                        text: '',
                        awesome: true,
                        newTodo: '',
                        todos: [
                            { id: id++, text: 'Learn HTML' },
                            { id: id++, text: 'Learn JavaScript' },
                            { id: id++, text: 'Learn Vue' },
                        ],
                    }
                },
                methods: {
                    increment() {
                        this.counter.count++
                    },
                    onInput(e) {
                        this.text = e.target.value
                    },
                    toggle() {
                        this.awesome = !this.awesome
                    },
                    addTodo() {
                        this.todos.push({ id: id++, text: this.newTodo })
                        this.newTodo = ''
                    },
                    removeTodo(todo) {
                        this.todos = this.todos.filter((t) => t !== todo)
                    },
                }
            }).mount('#app')
        </script>
    </head>
    <body>
        <div id="app">
            <h1 :class="titleClass">{{ message }}</h1>  <!-- v-bind -->
            <button @click="increment">Count is: {{ counter.count }}</button>  <!-- v-on -->
            <input v-model="text" placeholder="Type here">  <!-- v-model -->
            <p>{{ text }}</p>
            <h1 v-if="awesome">Vue is awesome!</h1>  <!-- v-if -->
            <h1 v-else>Oh no 😢</h1>
            <button @click="toggle">toggle</button>
            <h1>ToDo list</h1>
            <input v-model="newTodo" placeholder="Type ToDo">
            <button @click="addTodo">Add ToDo</button>
            <ul>
                <li v-for="todo in todos" :key="todo.id">  <!-- v-for -->
                    {{ todo.text }}
                    <button @click="removeTodo(todo)">X</button>
                </li>
            </ul>
        </div>
    </body>
</html>