<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module">
            const { createApp } = Vue
            let id = 0

            createApp({
                data() {
                    return {
                        message: 'Hello World!',
                        counter: {
                            count: 0,
                        },
                        titleClass: 'title',
                        text: '',
                        awesome: true,
                        newTodo: '',
                        todos: [
                            { id: id++, text: 'Learn HTML', done: true },
                            { id: id++, text: 'Learn JavaScript', done: false },
                            { id: id++, text: 'Learn Vue', done: false },
                        ],
                        hideCompleted: false,
                        todoDta: null,
                        todoId: 1,
                    }
                },
                watch: {  // watcher
                    todoId(newId) {
                        console.log(`new ToDo ID is: ${newId}`)
                        this.fetchData()
                    }
                },
                methods: {
                    increment() {
                        this.counter.count++
                    },
                    onInput(e) {
                        this.text = e.target.value
                    },
                    toggle() {
                        this.awesome = !this.awesome
                    },
                    addTodo() {
                        this.todos.push({ id: id++, text: this.newTodo, done: false })
                        this.newTodo = ''
                    },
                    removeTodo(todo) {
                        this.todos = this.todos.filter((t) => t !== todo)
                    },
                    async fetchData() {  // 非同期処理
                        this.todoData = null
                        const res = await fetch(
                            `https://jsonplaceholder.typicode.com/todos/${this.todoId}`
                        )
                        this.todoData = await res.json()
                        this.todos.push({ id: id++, text: this.todoData.title, done: this.todoData.completed })
                    },
                },
                computed: {
                    filteredTodos() {
                        return this.hideCompleted
                        ? this.todos.filter((t) => !t.done)
                        : this.todos
                    }
                },
                mounted() {  // ライフサイクルmounted
                    this.$refs.p.textContent = 'mounted'
                    this.fetchData()
                }
            }).mount('#app')
        </script>
    </head>
    <body>
        <div id="app">
            <h1 :class="titleClass">{{ message }}</h1>  <!-- v-bind -->
            <button @click="increment">Count is: {{ counter.count }}</button>  <!-- v-on -->
            <input v-model="text" placeholder="Type here">  <!-- v-model -->
            <p>{{ text }}</p>
            <h1 v-if="awesome">Vue is awesome!</h1>  <!-- v-if -->
            <h1 v-else>Oh no 😢</h1>
            <button @click="toggle">toggle</button>
            <h1>ToDo list</h1>
            <input v-model="newTodo" placeholder="Type ToDo">
            <button @click="addTodo">Add ToDo</button>
            <ul>
                <li v-for="todo in filteredTodos" :key="todo.id">  <!-- v-for -->
                    <input type="checkbox" v-model="todo.done">
                    <span :class="{ done: todo.done }">{{ todo.text }}</span>
                    <button @click="removeTodo(todo)">X</button>
                </li>
            </ul>
            <p>Fetch ToDo ID: {{ todoId }}</p>
            <button @click="todoId++">Fetch next todo</button>
            <p v-if="!todoData">Loading...</p>
            <p v-else>Fetch Completed!</p>
            <button @click="hideCompleted = !hideCompleted">
                {{ hideCompleted ? 'Show all' : 'Hide completed' }}
            </button>
            <p ref="p">hello</p>
        </div>
    </body>
</html>